#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
#
# think that dicts are updated/merged with default
# but lists are overidden
#


# copy and adapt this in the real pillar to allow maxsize for
# attachements
# makina-states.services.http.nginx.client_max_body_size: 700M

makina-projects.projectname:
  group: git
  data:
    configs:
      {% for i, fdata in {
             'Gemfile.local': {},
             'config/environments/production.rb': {},
             'config/initializers/rack_attack.rb': {},
             'config/initializers/smtp_settings.rb': {},
             'config/unicorn.rb': {},
             'config/resque.yml': {},
             'config/gitlab.yml': {},
             'config/database.yml': {},
             '/etc/logrotate.d/gitlab': {'user': 'root',
                                         'group': 'root'},
             '/etc/default/gitlab': {'user': 'root',
                                     'mode': '644',
                                     'group': 'root'},
    }.items() %}
      "{{i}}":
        {% if i.startswith('/') %}
        target: {{i}}
        {% endif %}
        mode: {{ fdata.get('mode', '640') }}
        {% if fdata.get('user')%}user:  {{fdata.user}}{%endif%}
        {% if fdata.get('group')%}group: {{fdata.group}}{%endif%}
      {% endfor%}
    domain: "{fqdn}"
    root_password: "{{salt['mc_utils.generate_stored_password']('gitlabroot')}}"
    gitaly_enabled: true
    gitaly_build_id: 2
    gitaly_log: "{dir}/log/gitaly.log"
    gitaly_dir: "{home}/gitaly"
    gitaly_url: "https://gitlab.com/gitlab-org/gitaly.git"
    nginx_containerregistry_upstreams: salt://makina-projects/{name}/files/nginx.containerregistry.upstreams.conf
    nginx_containerregistry_vhost: salt://makina-projects/{name}/files/nginx.containerregistry.content.conf
    container_registry_host: "registry.foo.com"
    nginx_pages_upstreams: salt://makina-projects/{name}/files/nginx.pages.upstreams.conf
    nginx_pages_vhost: salt://makina-projects/{name}/files/nginx.pages.content.conf
    nginx_upstreams: salt://makina-projects/{name}/files/nginx.upstreams.conf
    nginx_vhost: salt://makina-projects/{name}/files/nginx.content.conf
    url: https://gitlab.com/gitlab-org/gitlab-ce.git
    workhorse_url: https://gitlab.com/gitlab-org/gitlab-workhorse.git
    pages_url: https://gitlab.com/gitlab-org/gitlab-pages.git
    home: "{data_root}/gitlab"
    dir: "{home}/gitlab"
    workhorse_dir: "{home}/gitlab-workhorse"
    pages_dir: "{home}/gitlab-pages"
    repos_path: "{home}/repositories"
    satellites_dir: "{home}/gitlab-satellites"
    user: "git"
    rversion: "2.3.3"
    version: "9-1-stable"
    pages_version: "v0.4.1"
    workhorse_version: "v1.4.3"
    shell_version: "5.0.2"
    gitaly_version: "v0.6.0"
    log_level: Logger::ERROR
    email_from: "git@{fqdn}"
    smtp_address: 127.0.0.1
    smtp_tls: true
    smtp_noauth: False
    smtp_port: 25
    smtp_domain: "{domain}"
    smtp_user: null
    imap_incoming_user: "gitlab+%{key}@{smtp_domain}"
    imap_user: "gitlab@{smtp_domain}"
    noreply_user: "noreply@{smtp_domain}"
    email_display_name: "GitLab"
    imap_password: "{smtp_password}"
    smtp_password: null
    imap_server: null
    imap_starttls: false
    imap_port: 993
    imap_ssl: true
    openssl_verify_mode: 'peer'
    files: "{data_root}/files"
    redis_host: localhost
    redis_port: 6379
    redis_user: ""
    redis_password: ""
    db_gem: postgresql
    db_adapter: postgresql
    db_name: gitlab_production
    db_user: gitlab_production
    db_password: gitlab
    db_encoding: unicode
    db_host: localhost
    db_port: 5432
    use_ldap: false
    # unicorn settings
    shell: /bin/bash
    host: 127.0.0.1
    port: 8080
    mail_from_enabled: true
    worker_timeout: 600
    worker_processes: 2
    # gitlab.yaml settings
    tz: "Europe/Paris"
    default_theme: 2
    project_limit: 100000000
    default_can_create_group: "true"
    username_changing_enabled: "true"
    project_issues: "true"
    project_merge_requests: "true"
    project_wiki: "true"
    project_snippets: "true"
    project_builds: "true"
    project_visibility: "private"
    project_container_registry: true
    artifacts_enabled: true
    git_lfs_enabled: true
    webhook_timeout: 10
    ldap_host: ""
    ldap_port: "389"
    ldap_method: "tls"
    ldap_dn: "dc=foo,dc=org"
    ldap_uid: "uid"
    ldap_binddn: ""
    ldap_bindpw: ""
    allow_username_or_email_login: "true"
    ldap_base: 'ou=People,{ldap_dn}'
    active_directory: "false"
    git_max_size: 20971520
    signup_enabled: "false"
    signin_enabled: "true"
    sshgroup: sshusers
    git_user_aliases: [gitorious-git]
    block_auto_created_users: false
    mattermost_enabled: false
    mattermost_host: "https://mattermost.example.com"
    pages_enabled: false
    pages_host: "https://pages.example.com"
    pages_port: 80
    pages_log: "{dir}/log/pages.log"
    pages_https: false
    email_subject_suffix: ""
    ci_all_broken_builds: true
    ci_pusher: false
    ci_builds_path: "builds/"
    registry_enabled: false
    registry_host: registry.example.com
    registry_port: 5005
    registry_api_url: "http://localhost:5000/"
    registry_key: config/registry.key
    registry_path: shared/registry
    registry_issuer: gitlab-issuer
# vim:set ft=yaml sts=2 ts=2:
